body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

p {
  align-self: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

img{
  box-shadow: 20px 20px 20px #8c8c8c;
}

div {
  padding: 1rem;
}
